{% include "macros" -%}
<html>
<head>
    <title>
        {{- doc.title -}}
    </title>
    {#- This is a comment #}
</head>
<body>
    {%- block body %}No Body{% endblock %}
    {% include "snippet_ext" %}
    {{- foo("Hello", doc.title, 42) -}}
</body>
</html>