{%- macro foo(a1, a2, a3) %}
    <ul>
        <li><b>Arg 1:</b> {{ a1 }}</li>
        <li><b>Arg 2:</b> {{ a2 }}</li>
        <li><b>Arg 3:</b> {{ a3 }}</li>
    </ul>
{% endmacro %}

{%- macro bar() %}
    <b>Bar</b>
{% endmacro %}